<html>
	<head>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	  <meta name="viewport" content="max-width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	  <script type="text/javascript" src="/js/scube-signin.js"></script>
	  <script type="text/javascript" src="/js/validator.min.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	  <link href="/styles/scube-cube.css" media="screen" rel="stylesheet" type="text/css">
	  <link href="/styles/scube-signin.css" media="screen" rel="stylesheet" type="text/css">
	  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400italic,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<!-- Waiting SCube -->
		<div class='cube-overlay'></div>
		<div class='Cube panelLoad'>
			<div class='cube-face cube-face-front'>Shop</div>
			<div class='cube-face cube-face-back'>Socialize</div>
			<div class='cube-face cube-face-left'>Save</div>
			<div class='cube-face cube-face-right'>Scube</div>  
			<div class='cube-face cube-face-bottom'>Chat</div>
			<div class='cube-face cube-face-top'>$$$</div>
		</div>

		<div class='gradient-overlay'></div>
		<div class='logo-container'>
			<img class='logo' src="/images/logos/scube_logo.png">
			<img class='title' src="/images/logos/scube_title_white.png">
		</div>

		<div class='error-message'></div>

		<div class='auth'>
			<div class='slider-container'>
				<div class='slider'>

					<div class='signup-form-container'>
						<i class="right-arrow fa fa-chevron-right fa-2x"></i>
						<div class='heading'></div>
						<input class='email' type="text" placeholder="Email Address" name="email">
						<input class='password' type="password" placeholder="Password" name="password">
						<input class='nickname' type="text" placeholder="Nickname (required)" name="nickname">
						<div class="gender-container">
						  <div class="gender">
						    <input id="male" name="gender" type="radio" class="gender-radio" value="male"/>
						    <label class='gender-label' for="male">
						      <i class="fa fa-male"></i>
						    </label>
						  </div>
						  <div class="gender">
						    <input id="female" name="gender"type="radio" class="gender-radio" value="female"/>
						    <label class='gender-label' for="female">
						    	<i class="fa fa-female"></i>
						    </label>
						  </div>
						</div>
						<button id='signup' type="submit">Sign Up</button>
					</div>

					<div class='signin-container'>
						<hr />
							<div class='heading'></div>
							<div class='social'>
								<a href="/auth/facebook"><i class="fa fa-facebook-square fa-4x"></i></a>
								<a href="/auth/google"><i class="fa fa-google-plus-square fa-4x"></i></a>
								<i class="signin-button fa fa-envelope-square fa-4x"></i>
							</div>
						<hr />
						<div class='options'>
							<div class='signup-button'></div>
							<div class='skip-button'></div>
						</div>
					</div>

					<div class='signin-form-container'>
						<i class="left-arrow fa fa-chevron-left fa-2x"></i>
						<input class='email' type="text" placeholder="Email Address" name="email">
						<input class='password' type="password" placeholder="Password" name="password">
						<button id='signin' type="submit">Sign In</button>
						<div class='forgot-password'></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>