<html>
  <!-- SOCIAL LOGIN SUCCESS PAGE : Depricated as of 9/5/2015 9pm -->
  <head>
    <meta name="viewport" content="max-width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/styles/scube-success.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/scube-wait.js"></script>
  </head>
  <body class=<% if(socialType == 'fb') { %> 'fb' <% } else { %> 'google' <% } %> >
    <script>
      var socialType = <% if(socialType == 'fb') { %> 'Facebook' <% } else { %> 'Google' <% } %>
    </script>
    <% if (result == 'success') { %>
      <div class='spinner'>
        <i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
      </div>
      <script>
        if(typeof window.JsInterface !== 'undefined') {
          window.JsInterface.goToHomePageAfterAuth("<%= userId %>", "<%= emailId %>", "3", socialType);
          document.write('<div class="message"> ' + socialType + ' Login Successful</div>');
        } else {
          document.write('<div class="message"> ' + socialType + ' Login Successful from Non-App Environment</div>');
        }
      </script>
    <% }  else { %>
      <script>
      if(typeof window.JsInterface !== 'undefined') {
        document.write('<div class="message"> ' + socialType + ' Login Failed</div>');
        // Define a in-app function to be invoked when social login failed and still reached the app.
        // This should bnever happen because login-success.ejs will be rendered only when login succeeds
      } else {
        document.write('<div class="message">' + socialType + ' Login Failed from Non-App Environment</div>');
      }
      </script>
    <% } %>
  </body>
</html>
