<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta name="viewport" content="max-width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="/js/scube-password.js"></script>
    <script type="text/javascript" src="/js/validator.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/styles/scube-cube.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/styles/scube-password.css" media="screen" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400italic,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- Waiting SCube -->
    <div class='cube-overlay'></div>
    <div class='Cube panelLoad'>
      <div class='cube-face cube-face-front'>Shop</div>
      <div class='cube-face cube-face-back'>Socialize</div>
      <div class='cube-face cube-face-left'>Save</div>
      <div class='cube-face cube-face-right'>Scube</div>  
      <div class='cube-face cube-face-bottom'>Chat</div>
      <div class='cube-face cube-face-top'>$$$</div>
    </div>

    <div class='gradient-overlay'></div>
    <div class='logo-container'>
      <img class='logo' src="/images/logos/scube_logo.png">
      <img class='title' src="/images/logos/scube_title_white.png">
    </div>

    <div class='error-message'>
      <% if(message.length > 0) { %>
        <script>
          toastMessage("<%= message %>");
        </script>
      <% } %>
    </div>

    <div class='auth'>
      <div class='slider-container'>
        <div class='slider'>
          <div class='password-form-container'>
            <!-- Successful reset password link validation response -->
            <div class="heading"></div>
            <% if (userId) { %>
              <input type="hidden" name="userId" class="userId" value=<%= userId %> readonly>
            <% } %>
            <input class='password' type="password" placeholder="Password" name="password">
            <button id='resetPassword' type="submit">Update Password</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>